@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Gilroy";
}

::selection {
  background-color: #9e430a;
 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}